<form class="example-form" [formGroup]="create">
<h1><i>STUDENT FORM</i></h1>
  <table class="example-full-width" cellspacing="0" ><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput  formControlName="firstname">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field></td>
  </tr></table>
  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-radio-button value="1">MALE</mat-radio-button>
    <mat-radio-button value="2">FEMALE</mat-radio-button>
    <mat-radio-button value="3">OTHERS</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <form class="example-form">
    <mat-label class="example-full-width">S/O</mat-label>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="outline" >
        <mat-label>Father name</mat-label>
        <input matInput formControlName="fathername">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline" >
        <mat-label>Mother Name</mat-label>
        <input matInput formControlName="mothername">
      </mat-form-field></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="outline" >
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. abcd@xyz.com" formControlName="email">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline" >
        <mat-label>Phone</mat-label>
        <input matInput #phone maxlength="10" placeholder="Ex.+9199XXXXXXXX " value="" formControlName="phone">
        <mat-hint align="end">{{phone.value.length}} / 10</mat-hint>
      </mat-form-field></td>
    </tr></table>
    <mat-label class="example-full-width" >Address:</mat-label>
  <p formGroupName="address">
    <mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" formControlName="adress"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Address 2</mat-label>
      <textarea matInput  formControlName="addres"></textarea>
    </mat-form-field>
  </p>
  <table class="example-full-width" cellspacing="0" formGroupName="address"><tr>
    <td><mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>City</mat-label>
      <input matInput placeholder="Ex. Hyderabad" formControlName="city">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>State</mat-label>
      <input matInput placeholder="Ex. Culcutta" formControlName="state">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>Postal Code</mat-label>
      <input matInput #postalCode maxlength="6" placeholder="Ex.500062 " value="" formControlName="pincode">
      <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
    </mat-form-field></td>
  </tr></table>
</form>
<button mat-raised-button color="primary" (click)="Submit()">Submit</button>